<div class="main-backdrop main-backdrop--hidden" data-main-modal>
  <div class="main-modal">
    <button
      class="main-modal__button--close"
      type="button"
      data-modal-main-close
    >
      <svg width="30" height="30">
        <use href="./images/close.svg"></use>
      </svg>
    </button>
    <div class="main-modal__container">
      <div class="main-modal__preview">
        <img src="./images/test.jpg" alt="test" width="240px" />
      </div>
      <div>
        <h2 class="main-modal__title">A fistful of lead</h2>
        <div class="main-modal__box">
          <div class="main-modal__features">
            <p>Vote / Votes</p>
            <p>Popularity</p>
            <p>Original Title</p>
            <p>Genre</p>
          </div>
          <div class="main-modal__values">
            <p>
              <span class="main-modal__values--vote">7.3</span>
              <span class="main-modal__values--slash">/</span>
              <span class="main-modal__values--votes">1260</span>
            </p>
            <p>123.4</p>
            <p class="main-modal__values--title">A fistful of lead</p>
            <p class="main-modal__values--2">Western</p>
          </div>
        </div>
        <div class="main-modal__description">
          <p class="main-modal__about">about</p>
          <p class="main-modal__text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <ul class="main-modal__buttons">
          <li>
            <button class="main-modal__buttons--watched">add to Watched</button>
          </li>
          <li>
            <button class="main-modal__buttons--queue">add to queue</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
