<div class="main-backdrop main-backdrop--hidden" data-main-modal>
  <div class="main-modal">
    <button
      class="main-modal__button--close"
      type="button"
      data-modal-main-close
    >
      <!-- <svg width="11" height="11">
        <use href="./images/icons.svg#icon-close-contacts"></use>
      </svg> -->
      x
    </button>
    <div class="main-modal__container">
      <div class="main-modal__preview">
        <picture>
          <img src="./images/test.jpg" alt="test" />
        </picture>
      </div>
      <div>
        <p class="main-modal__title">A example of title</p>
        <div class="main-modal__box">
          <div class="main-modal__features">
            <p>Vote / Votes</p>
            <p>Popularity</p>
            <p>Original Title</p>
            <p>Genre</p>
          </div>
          <div class="main-modal__values">
            <p>123/123</p>
            <p>1234</p>
            <p>Lorem ipsum dolor</p>
            <p>Lorem, ipsum</p>
          </div>
        </div>
        <div class="main-modal__description">
          <p class="main-modal__about">about</p>
          <p class="main-modal__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit dolores vitae nemo provident quod molestiae.
            Perspiciatis id unde eaque repellat quidem illum porro magnam
            laudantium quas. Dolorum, cum doloribus culpa nostrum modi
            exercitationem a debitis aspernatur doloremque perspiciatis dolores
            ut veritatis ullam optio totam natus quod architecto saepe quaerat
            excepturi!
          </p>
        </div>
        <div class="main-modal__buttons">
          <button class="main-modal__buttons--watched">add to Watched</button>
          <button class="main-modal__buttons--queue">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
