<div class="pagination__box">
  <ul class="page__list">
    <!-- <a class="test-link navigators left" href="">
    <svg class="arrow" width="16" height="16">
      <use href="./images/icons.svg#arrow-left"></use>
    </svg>
  </a>
  <a class="test-link hidden-navigators" href="">1</a>
  <a class="test-dots hidden-navigators" href=""
    ><span class="dots">...</span></a
  >
  <a class="test-link" href="">13</a>
  <a class="test-link" href="">14</a>
  <a class="test-link is-active" href="">15</a>
  <a class="test-link" href="">16</a>
  <a class="test-link" href="">17</a>
  <a class="test-dots hidden-navigators" href=""
    ><span class="dots">...</span></a
  >
  <a class="test-link hidden-navigators" href="">20</a>
  <a class="test-link navigators right" href="">
    <svg class="arrow" width="16" height="16">
      <use href="./images/icons.svg#arrow-right"></use>
    </svg>
  </a> -->
  </ul>
</div>
