.main-backdrop {
}

.main-backdrop--hidden {
}

.main-modal {
  position: relative;
  margin: 0 auto;
  background-color: $primary-background-color;
  padding: 48px 20px 40px;
  max-width: 280px;

  @media screen and (min-width: $tablet) {
    max-width: 704px;
    padding: 40px 72px 40px 36px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 806px;
    padding: 40px 12px;
  }
}

.main-modal__button--close {
  //   border: 0;
  background-color: $primary-background-color;
  position: absolute;
  top: 8px;
  right: 8px;
  //   background-image: url(/src/images/close.svg);
}

.main-modal__container {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.main-modal__preview {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    min-width: 264px;
    min-height: 375px;
    margin-right: 68px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 375px;
    min-height: 478px;
    margin-right: 16px;
  }
}

.main-modal__preview img {
  width: 100%;
}

.main-modal__title {
  color: $text-color-1;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 20px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.main-modal__box {
  display: flex;
  margin-bottom: 20px;
}

.main-modal__box p {
  margin-bottom: 8px;
}

.main-modal__features {
  font-size: 12px;
  line-height: 1.33;
  color: $text-color-6;
  margin-right: 39px;

  @media screen and (min-width: 1024px) {
    margin-right: 83px;
  }
}

.main-modal__values {
  font-size: 12px;
}

.main-modal__values--vote {
  color: $text-color-3;
  background: $accent-color;
  border-radius: 5px;
  padding: 1px 10px;
}

.main-modal__values--slash {
  color: $text-color-6;
}

.main-modal__values--votes {
  background: $footer-background-color;
  border-radius: 5px;
  padding: 1px 4px;
}

.main-modal__values--title {
  line-height: 1.33;
  text-transform: uppercase;
}

.main-modal__values--2 {
  line-height: 1.33;
}

.main-modal__description {
}

.main-modal__about {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.main-modal__text {
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
}

.main-modal__buttons {
  display: flex;
}

.main-modal__buttons--watched {
  margin-right: 20px;
  background: $accent-color;
  border-radius: 5px;
  color: $text-color-3;
  text-transform: uppercase;
  border: 0;
  font-size: 12px;
  line-height: 1.33;
  padding: 13px;
}

.main-modal__buttons--queue {
  text-transform: uppercase;
  background: $primary-background-color;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 1.33;
  padding: 13px 16px;
}
