.sort {
  display: flex;
  margin: 20px 0 0 50px;
}
.sort p {
  margin-right: 10px;
}
.sort-list {
  display: flex;
}
.sort-item {
  margin-right: 5px;
}
.sort-button_1 {
}
.sort-button_2 {
}

.clickOn {
  background-color: #ff6b01;
}

.hidden-sort {
  opacity: 0;
  pointer-events: none;
}
